:root {

}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  /* gap: 25px; */

}

main {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

}



main-background {
  /* opacity: 0.75; */
  /* display: none; */
  z-index: -99999;
}

@supports (-webkit-touch-callout: none) {
  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
  }
}
