:root {

  --form-width: 280px;
  --form-height: 280px;

}




form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;

  width: var(--form-width) !important;
  height: var(--form-height) !important;

  z-index: 1;
  gap: 11px;
}

.animate__zoomIn {
  animation-timing-function: ease-in-out !important;
  animation-duration: 10s !important;
  animation-delay: 2.5s;
}
.animate__fadeIn {
  animation-timing-function: ease-in-out !important;
  animation-duration: 10s !important;
  animation-delay: 2.5s;
}


status-info {
  /* --width: 560px !important; */
  height: 36px !important;
}

status-info[idle="true"] {
  opacity: 0.5;
}

fieldset-inputs {
  /* perspective: 600px; */
  width: 100%;
  height: 100px;
}

fieldset-inputs[idle="true"] {
  opacity: 0.5;
}

nav-buttons {
  perspective: 600px;
  width: 100%;
  height: 64px;
}

nav-buttons[idle="true"] {
  opacity: 0.5;
}



/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
/* animation: 3s ease-in 1s 2 reverse both paused slidein; */


@supports (-webkit-touch-callout: none) {
  @media only screen {
      :host {
        width: 275px;
      }

      label {
        font-weight: 500 !important;
      }

      #notice, #valid, #invalid, #code {
        font-weight: 400 !important;
      }
  }
}
/*

.error-shake {
  animation: .1s ease-in-out 2 0.25s normal running error_shake;
}

.status-info-connected {
  animation-name: status-info-connected;
  animation-duration: 15s;
  animation-delay: 0.5s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: infinite;
}




@keyframes error-shake {
    0% {
    transform: translate3d(0%, 0%, 0px);
    }
    25% {
    transform: translate3d(5%, 0%, 0px);
    }
    50% {
      transform: translate3d(-5%, 0%, 0px);
    }
    100% {
      transform: translate3d(0%, 0%, 0px);
    }
  }

@keyframes status-info-connected {
  0% {
    transform: perspective(600px) rotateX(2880deg);
  }
  100% {
    transform: perspective(600px) rotateX(0deg);
  }
} */
